div.b-superior{
    text-align: start;
    word-spacing: 10px;
    margin-top: -40px;
    margin-left: 106px;
}

div.logo{
    display: grid;
    align-items: start;
    grid-template-columns: 0fr 1fr 1fr;
    margin-left: 15px;   
}

strong.News{
    color: rgb(180, 0, 0);
    font: 60px Brush Script MT;
}

div.img{
margin-top: 21px;
}

div.text{
    margin-left: 10px;
    margin-top: 15px;
}

aside.cinco{
    float: right;
    padding: 10px;
}

nav.noticiaimg{
 float: inline-start;
 margin-left: 10px;
}

section.noticia{
    float: inline-start;
    margin-left: 10px;
}

h1.notician{
    margin-left: 350px;
    font-family: 'Times New Roman', Times, serif;
    font: Times;
    font-size: larger;
    color: rgb(180, 0, 0);
}

body{
    background-color: rgb(230, 180, 140);
    margin-top: 0%;
    margin-left: 0%;
}

header{
    background-color: antiquewhite;
    margin: 10px;
    border: 5   px solid rgb(210, 182, 120);
}

h1.batata{font: 45px Brush Script MT;}